.form {
  width: 75%;
  margin: 0 auto;
}

.formGroup input {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid var(--gray);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.btn {
  padding: 0.6rem;
  border: 1px solid var(--dark-blue);
  border-radius: 0.5rem;
  background: var(--dark-blue);
  color: var(--white);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
