:root {
  --white: #f1f1f1;
  --black: #202020;
  --gray: #7e909a;
  --dark-blue: #1c4e80;
  --light-blue: #a5d8dd;
  --orange: #ea6a47;
  --blue: #0091d5;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
